<div class="vid_area pad_sides">
  <div class="videowrapper">
    <% if video.youtube_id %>
      <iframe id="player" class="movie" width="560" height="315" src="<%= @ssl ? 'https' : 'http' %>://www.youtube.com/embed/<%= video.youtube_id %>?rel=0" frameborder="1" html5="1" allowfullscreen></iframe>
    <% else %>
      <%= render 'wazas/video_not_uploaded' %>
    <% end %>
  </div>
</div>
