<h1>Master Grid</h1>
<%
  @format_names = AikiFormat.all.map(&:name)
  @stance ||= nil
  @technique ||= nil
  @format ||= nil  
%>
<%= render 'grid', format_names: @format_names, master_hash: @master_hash %>
