

<p>
  <strong>Name:</strong>
  <%= @rank.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rank.description %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
