

<p>
  <strong>Name:</strong>
  <%= @maka_komi.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @maka_komi.description %>
</p>

<%= link_to 'Edit', edit_maka_komi_path(@maka_komi) %> |
<%= link_to 'Back', maka_komis_path %>
